[Unit]
Description=Quickshell bar
Documentation=https://quickshell.org/docs/
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/qs
Restart=on-failure
RestartSec=1
Slice=session-graphical.slice

[Install]
WantedBy=graphical-session.target
